SERVER={{ public_ip.content | trim }}
PORT={{ mtproto_port }}
SECRET={{ _mtproto_link_secret }}
DOMAIN={{ mtproto_fake_tls_domain }}
LINK=tg://proxy?server={{ public_ip.content | trim }}&port={{ mtproto_port }}&secret={{ _mtproto_link_secret }}
